.auth-container {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background: white;
  text-align: center;
}

.auth-form {
  margin-top: 20px;
}

.toggle-text {
  margin-top: 15px;
  color: #555;
}

.toggle-text span {
  color: hotpink;
  cursor: pointer;
  font-weight: 500;
}
.auth-btn{
    background-color: palevioletred;
}